/Project/Content/
/Project/SourceArt/**
!/Project/SourceArt/Scripts/
!/Project/SourceArt/Scripts/**
**/Binaries/
**/Intermediate/
**/Saved/
**/DerivedDataCache/
**/__pycache__/
*.pyc
*.pdb
*.sln
.vs/
.cache/
/Local/
/Downloads/
/PlayData*/
/Project/Config/EOS.json
*.local.json
.env*
/Project/Plugins/DLSS/
/Project/Plugins/Streamline*/
/Project/CinemaOnline/node_modules/
/Project/CinemaOnline/*.exe
*.blend1
